button {
  border: none;
  margin: none;
  padding: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  color: inherit;
}

.button__primary {
  &:hover,
  &:focus {
    color: hsl(var(--clr-primary-100));
  }
  &--active {
    color: hsl(var(--clr-neutral-500));
  }
}

.button__svg {
  width: 1.5rem;
  aspect-ratio: 1;
  flex-shrink: 0;

  &[data-icon="delete"],
  &[data-icon="delete"] {
    background-image: url(./../../images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.button-group {
  background-color: hsl(var(--clr-primary-300));
  padding: 1rem 1.25rem;
}
