button {
  border: none;
  margin: none;
  padding: none;
  background-color: transparent;
  font-family: inherit;
  cursor: pointer;
  outline: none;
  color: inherit;
}

.button__primary {
  &:hover,
  &:focus {
    color: hsl(var(--clr-primary-100));
  }
  &--active {
    color: hsl(var(--clr-neutral-500));
  }
}

.button__svg {
  width: 1.5rem;
  aspect-ratio: 1;
  flex-shrink: 0;

  &[data-icon="delete"] {
    background-image: url(./../../images/icon-cross.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &[data-icon="theme-icon"] {
    background-image: var(--theme-toggle-icon);
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media screen and (min-width: 768px) {
  .button__svg {
    &[data-icon="delete"] {
      display: none;
    }
  }
}

.button-group {
  background-color: hsl(var(--clr-primary-300));
  padding: 1rem 1.25rem;
}

@media screen and (min-width: 768px) {
  .button-group {
    font-size: var(--fs-300);
  }
}
