.todo__textbox {
  background-color: hsl(var(--clr-primary-300));
  padding: 1rem 1.25rem;
  border: none;
  color: hsl(var(--clr-primary-100));
  border-radius: 0.5rem;

  &::placeholder {
    color: hsl(var(--clr-primary-100));
  }

  &:focus {
    outline: none;
  }
}

.todo-list {
  border-radius: 0.5rem;
  overflow: hidden;
}

.todo-list__item {
  display: flex;
  align-items: center;
  background-color: hsl(var(--clr-primary-300));
  padding: 1rem 1.25rem;
}

.todo-list > *:not(:last-child) {
  border-bottom: 1px solid hsl(var(--clr-primary-200));
}

.item__checkbox {
  appearance: none;
  margin-right: 1rem;
  width: 1.25rem;
  aspect-ratio: 1/1;
  border: 1px solid hsl(var(--clr-primary-200));
  border-radius: 50%;

  &:focus,
  &:hover {
    border: 1px solid hsl(var(--clr-neutral-500));
  }

  &:checked {
    // Add bg color, add bg image and remove border
    background-color: hsl(var(--clr-neutral-500));
    background-image: url(../../public/images/icon-check.svg);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
  }
}
