.todo__textbox {
  background-color: hsl(var(--clr-primary-300));
  padding: 1rem 1.25rem;
  border: none;
  color: hsl(var(--clr-primary-100));
  border-radius: 0.5rem;

  &::placeholder {
    color: hsl(var(--clr-primary-100));
  }

  &:focus {
    outline: none;
  }
}

.todo-list {
  border-radius: 0.5rem;
  overflow: hidden;
}

.todo-list__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(var(--clr-primary-300));
  padding: 1rem 1.25rem;

  & > div {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .todo-list__item:hover,
  .todo-list__item:focus {
    .button__svg {
      display: block;
    }
  }
}

.list-items__wrapper > * {
  border-bottom: 1px solid hsl(var(--clr-primary-200));
}

.item__checkbox {
  flex-shrink: 0;
  appearance: none;
  width: 1.5rem;
  aspect-ratio: 1/1;
  border: 2px solid hsl(var(--clr-primary-200));

  &:focus,
  &:hover {
    border: 2px solid;
    border-image: linear-gradient(
      45deg,
      hsl(var(--clr-lgbgc-1)),
      hsl(var(--clr-lgbgc-2))
    );
    border-image-slice: 1;
  }

  &--checked {
    background-image: url(../../images/icon-check.svg),
      linear-gradient(
        to bottom right,
        hsl(var(--clr-lgbgc-1)),
        hsl(var(--clr-lgbgc-2))
      );
    border: none;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.item__label {
  &--checked {
    text-decoration: line-through;
    color: hsl(var(--clr-primary-200));
  }
}
