body {
  // Universal styles
  font-family: var(--ff-primary);
  font-size: var(--fs-300);
  font-weight: var(--fw-400);
  color: hsl(var(--clr-primary-100));
  background-color: hsl(var(--clr-primary-400));

  // fix bg-image
  background-image: var(--bg-img-mobile);
  background-size: 100% 25%;
  background-repeat: no-repeat;

  // center main on the page
  justify-content: center;
  align-items: center;
}

main {
  width: 90%;
  margin: 3rem auto;
}
