/* Background color utility classes */
// for the card background
.bg-primary-300 {
  background-color: hsl(var(--clr-primary-300));
}

// for the body background
.bg-primary-400 {
  background-color: hsl(var(--clr-primary-400));
}

/* Font color utility classes */
// for h1 which does not change with theme
.text-neutral-100 {
  color: hsl(var(--clr-neutral-100));
}

// for all text and button/link hover
.text-primary-100 {
  color: hsl(var(--clr-primary-100));
}

// for button/link text
.text-primary-200 {
  color: hsl(var(--clr-primary-200));
}

/* Font size utility classes */
// for h1
.fs-700 {
  font-size: var(--fs-700);
}

// for all text
.fs-400 {
  font-size: var(--fs-400);
}

// for small text
.fs-300 {
  font-size: var(--fs-300);
}

// Other utility classes related to typography
.ls-300 {
  letter-spacing: var(--ls-300);
}

.fw-700 {
  font-weight: var(--fw-700);
}

.fw-400 {
  font-weight: var(--fw-400);
}

.uppercase {
  text-transform: uppercase;
}

// utility classes for border radius
.br-1 {
  border-radius: 0.25rem;
}

.br-2 {
  border-radius: 0.5rem;
}

// General Utility Classes ----------------------------------------------
.flex {
  display: flex;
  gap: var(--gap, 1.5rem);
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1.5rem);
}

.jc-space-between {
  justify-content: space-between;
}

.jc-space-evenly {
  align-items: space-evenly;
}

.jc-center {
  justify-content: center;
}

.ai-center {
  align-items: center;
}

// screen reader only class.
// Does not take it out of the DOM just hides it.
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.desktop-only {
  display: none;
}

.mobile-only {
  display: flex;
}

@media (min-width: 768px) {
  .desktop-only {
    display: flex;
  }

  .mobile-only {
    display: none;
  }
}
